sdmaleph/sdmaleph.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="sdmaleph" targetNamespace="http://www.example.org/sdmaleph/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.example.org/sdmaleph/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:types><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/sdmaleph/">
	<xsd:element name="induceRequest">
		<xsd:complexType>
			<xsd:sequence>
			  
				<xsd:element name="examples" maxOccurs="unbounded"
					minOccurs="1">
					<xsd:annotation>
						<xsd:documentation>
							This parameter is a list of pairs (id,
							rank).
						</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="id" type="xsd:integer"
								maxOccurs="1" minOccurs="1">
							</xsd:element>
							<xsd:element name="rank_or_label"
								type="xsd:string" maxOccurs="1" minOccurs="1">
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>

				<xsd:element name="relations" maxOccurs="unbounded" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="relation" maxOccurs="unbounded" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="name" type="xsd:string" maxOccurs="1" minOccurs="1"> </xsd:element>
										<xsd:element name="extension" maxOccurs="unbounded" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>
													This parameter is a list of pairs (id, id).
												</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="id1" type="xsd:integer"
														maxOccurs="1" minOccurs="1">
													</xsd:element>
													<xsd:element name="id2" type="xsd:integer"
														maxOccurs="1" minOccurs="1">
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>

				<xsd:element name="mapping" maxOccurs="unbounded"
					minOccurs="1">
					<xsd:annotation>
						<xsd:documentation>
							This parameter is a list of pairs [...,
							(id_i, [URI1, URI2, ...]), ...].
						</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="id" type="xsd:integer"
								maxOccurs="1" minOccurs="1">
							</xsd:element>
							<xsd:element name="uri" type="xsd:string"
								maxOccurs="unbounded" minOccurs="1">
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>

				<xsd:element name="ontologies" type="xsd:string"
					maxOccurs="unbounded" minOccurs="1">
				</xsd:element>
				
				<xsd:element name="posClassVal" type="xsd:string" maxOccurs="1" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							The positive class value.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				
				<xsd:element name="cutoff" type="xsd:integer" maxOccurs="1" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							Number of positive class value instances.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<xsd:element name="minimalSetSize" type="xsd:integer" maxOccurs="1" minOccurs="0">
					  <xsd:annotation>
						  <xsd:documentation>
							  This parameter specifies the minimal size of a
							  subgroup. The default value is 20.
						  </xsd:documentation>
					  </xsd:annotation>
				  </xsd:element>

				  <xsd:element name="maxNumTerms" type="xsd:integer"
					  maxOccurs="1" minOccurs="0">
					  <xsd:annotation>
						  <xsd:documentation>
							  This parameter specifies the maximum number of
							  terms that can define a resulting subgroup.
							  The default value is 3. WARNING: it is
							  recommended not to set this value higher than
							  3 otherwise the search may take a *very long*
							  time to complete!
						  </xsd:documentation>
					  </xsd:annotation>
				  </xsd:element>
	
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
    	
	<xsd:element name="induceResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="jobID" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
    
    <xsd:element name="getResult">
    	<xsd:complexType>
    		<xsd:sequence>
    			<xsd:element name="jobID" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
    		</xsd:sequence>
    	</xsd:complexType>
    </xsd:element>
    
    <xsd:element name="getResultResponse">
    	<xsd:complexType>
    		<xsd:sequence>
		  <!-- <xsd:element name="rules" type="xsd:string" minOccurs="1" maxOccurs="1"/> -->
		      <xsd:element name="rules" type="tns:ruleComplexType" maxOccurs="unbounded" minOccurs="0"></xsd:element>
    		</xsd:sequence>
    	</xsd:complexType>
    </xsd:element>
    
    <xsd:element name="getProgress">
    	<xsd:complexType>
    		<xsd:sequence>
    			<xsd:element name="jobID" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
    		</xsd:sequence>
    	</xsd:complexType>
    </xsd:element>
    
    <xsd:element name="getProgressResponse">
    	<xsd:complexType>
    		<xsd:sequence>
    			<xsd:element name="progress" type="xsd:integer"></xsd:element>
    		</xsd:sequence>
    	</xsd:complexType>
    </xsd:element>

 <xsd:complexType name="ruleComplexType">
          <xsd:sequence>
              <xsd:element name="description" type="tns:descriptionComplexType" maxOccurs="1"
                  minOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>This is the actual rule. It is composed of two parts: rule conjuncts and interacting terms.</xsd:documentation>
                        </xsd:annotation>
              </xsd:element>
              <xsd:element name="coveredGenes" type="xsd:string" maxOccurs="unbounded" minOccurs="1">
                  <xsd:annotation>
                      <xsd:documentation>This parameter is a list of all examples from the input data which are covered by the rule.</xsd:documentation></xsd:annotation></xsd:element>
              <xsd:element name="coveredTopGenes" type="xsd:string" maxOccurs="unbounded" minOccurs="1">
                  <xsd:annotation>
                      <xsd:documentation>This parameter is a list of top ranked examples from the input data which are covered by the rule.</xsd:documentation></xsd:annotation></xsd:element>
              <xsd:element name="wracc" type="xsd:double" maxOccurs="1" minOccurs="1">
                  <xsd:annotation>
                      <xsd:documentation>WRAcc score.</xsd:documentation></xsd:annotation></xsd:element>
          </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="descriptionComplexType">
      <xsd:sequence>
          <xsd:element name="terms" type="tns:termComplexType" maxOccurs="unbounded"
              minOccurs="0">
          </xsd:element>
      </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="termComplexType">
      <xsd:sequence>
          <xsd:element name="termID" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
          <xsd:element name="name" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
          <xsd:element name="domain" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      </xsd:sequence>
  </xsd:complexType>
	
</xsd:schema>
</wsdl:types>
    <wsdl:message name="induceRequest">
    	<wsdl:part name="parameters" element="tns:induceRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="induceResponse">
    	<wsdl:part name="parameters" element="tns:induceResponse"></wsdl:part>
    </wsdl:message>
	<wsdl:message name="getResultRequest">
		<wsdl:part name="parameters" element="tns:getResult"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getResultResponse">
		<wsdl:part name="parameters" element="tns:getResultResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getProgressRequest">
		<wsdl:part name="parameters" element="tns:getProgress"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getProgressResponse">
		<wsdl:part name="parameters" element="tns:getProgressResponse"></wsdl:part>
	</wsdl:message>
    <wsdl:portType name="alephPortType">
    	<wsdl:operation name="induce">
    		<wsdl:input message="tns:induceRequest"></wsdl:input>
    		<wsdl:output message="tns:induceResponse"></wsdl:output>
    	</wsdl:operation>
    	<wsdl:operation name="getResult">
    		<wsdl:input message="tns:getResultRequest"></wsdl:input>
    		<wsdl:output message="tns:getResultResponse"></wsdl:output>
    	</wsdl:operation>
    	<wsdl:operation name="getProgress">
    		<wsdl:input message="tns:getProgressRequest"></wsdl:input>
    		<wsdl:output message="tns:getProgressResponse"></wsdl:output>
    	</wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="alephBinding" type="tns:alephPortType">
    	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    	<wsdl:operation name="induce">
    		<soap:operation
    			soapAction="http://www.example.org/aleph/induce" />
    		<wsdl:input>
    			<soap:body use="literal" />
    		</wsdl:input>
    		<wsdl:output>
    			<soap:body use="literal" />
    		</wsdl:output>
    	</wsdl:operation>
    	<wsdl:operation name="getResult">
          <soap:operation soapAction="http://www.example.org/aleph/getResult" />
          <wsdl:input>
              <soap:body use="literal" />
          </wsdl:input>
          <wsdl:output>
              <soap:body use="literal" />
          </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getProgress">
          <soap:operation soapAction="http://www.example.org/aleph/getProgress" />
          <wsdl:input>
              <soap:body use="literal" />
          </wsdl:input>
          <wsdl:output>
              <soap:body use="literal" />
          </wsdl:output>
      </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="sdmaleph">
		<wsdl:port name="sdmaleph" binding="tns:alephBinding">
			<soap:address location="http://www.example.org/sdmaleph/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>